{% extends 'base.html' %}

{% block content %}

<div class="row mt-3" >
  <div class="col">
    <h2>Add Item...</h2>
    <form class="form-inline" action="{% url 'add_todo' %}" method="post">
      {% csrf_token %}
      <input autofocus placeholder="What do you want to do..." type="text" class="form-control mb-2 mr-sm-2" name="todo_item">
      <button type="submit" class="btn btn-primary mb-2" name="button">Add</button>
    </form>
  </div>
</div>
<div class="row container mt-3">
  <div class="col">
    <ul class="list-group">
      {% for i in todo_list%}
      <li class="list-group-item">{{i.text}}
        <div class="float-right">
          <form class="" action="{% url 'del_todo' i.pk%}" method="post">
            {% csrf_token %}
            <button class="btn btn-sm btn-danger" type="submit" name="button">Delete</button>
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
